@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("/src/img/countup_bg.png");
}

/* General Styling */
.logo,
.aboutHeader h2,
.wedding {
  font-family: "Dancing Script", cursive;
}

.couples h3,
.aboutContainer p,
.weddingName {
  font-family: "Raleway", sans-serif;
}

/* Homepage Styling */
.App {
  max-width: 1200px;
  box-shadow: 0 0 4px grey;
  margin: auto;
}

/* Home Section Styling */
.sliderContainer {
  position: relative;
}

.slider {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}

.sliderImage,
.storyContainer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.sliderInner1 {
  background-image: url("/src/img/blog_3.jpg");
}
.sliderInner2 {
  background-image: url("/src/img/blog_2.jpg");
}
.sliderInner3 {
  background-image: url("/src/img/blog_1.jpg");
}

.homeText {
  background-image: url("/src/img/hearth_center.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  z-index: 1;
  width: 70%;
  align-items: center;
  margin: 15% auto auto 15%;
  text-align: center;
  color: #f9f9fb;
}

.homeInnerText {
  padding-top: 60px;
}

.wedding h2 {
  font-size: 50px;
  font-weight: 300;
}

.weddingName h2 {
  font-size: 50px;
  padding-top: 5px;
  font-weight: 600;
}

.weddingDate p {
  padding-top: 30px;
  font-size: 23px;
}

.expired p {
  padding-top: 80px;
  font-weight: 400;
  font-size: 20px;
}

/* styling the nav */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  background-color: #ffffff;
  /* box-shadow: 0 0 4px grey; */
}

.logo {
  font-size: 25px;
}

.logo span,
.homeInnerText h2 span {
  color: #b72679;
}
.links {
  display: flex;
}

.links p {
  padding: 0 10px;
}

/* About styling */

.aboutContainer {
  background-image: url("/src/img/blog_3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: auto;
  height: auto;
}

.aboutInner,
.storyInner {
  background: #ffffff;
  padding: 60px;
  height: fit-content;
}

.aboutHeader {
  position: relative;
}

.aboutHeader img {
  width: 80%;
}
.aboutText h2 {
  position: absolute;
  top: 20%;
  left: 43%;
  font-size: 48px;
  font-weight: 500;
}

.aboutHeader h2 span {
  color: #b72679;
}

.simpleImg img {
  width: 150px;
}

.aboutContainer p,
.storyInner p {
  font-weight: 300;
  font-size: 20px;
  line-height: 32.5px;
  color: #a8a8aa;
  max-width: 700px;
  margin: auto;
  padding: 20px 0;
}

.couples {
  display: flex;
  justify-content: space-between;
}

.couplesInner {
  padding: 30px;
}

.couples img {
  border-radius: 50%;
}

.couples h3 {
  font-size: 25px;
  font-weight: 300;
  line-height: 41px;
  padding-top: 10px;
  color: #484949;
}

.couples p {
  line-height: 26px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  /* max-width: 400px; */
  margin: auto;
  color: #434444;
  font-size: 16px;
  padding: 0 100px;
}

.coupleName {
  color: #b72679;
}

.carousel p {
  color: #d5d8df;
  font-size: 20px;
  letter-spacing: 0.2em;
  padding: 20px;
}

.carouselInner {
  height: 300px;
  width: 100%;
}

.carouselInner div {
  /* margin: auto; */
  padding-top: 20px;
  outline: none;
}

.social a {
  color: #b72679;
  border: 1px solid rgb(156, 155, 155);
  border-radius: 50%;
  padding: 7px 12px;
  margin: 10px;
}

.social a:hover {
  color: #ffffff;
  background-color: #b72679;
  border: 1px solid #b72679;
  padding: 7px 12px;
}

.social {
  margin: 20px;
}

/* Story Section Styling */
.storyContainer {
  background-image: url("/src/img/blog_bg.jpg");
  background-attachment: fixed;
}

.storyInnerContainer {
  background-color: rgba(0, 0, 0, 0.5);
}

.storyInner {
  padding: 60px 20px;
}

.storyText h2 {
  left: 40%;
}

.storyPicture {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.storyPictureInner {
  width: 450px;
  padding: 0 20px;
}
.firstDateImage {
  position: relative;
}

.firstDateText {
  height: 300px;
  padding: 20px 0;
}

.firstDateText h3 {
  font-weight: 300;
  font-size: 30px;
}
.firstDateText p {
  padding: 10px 0;
  font-size: 16px;
}

.storyPicture img {
  width: 100%;
  border-radius: 5px;
}

.calender {
  position: absolute;
  top: 10px;
  left: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 10px;
  border-radius: 5px;
  border-bottom: 3px solid #de047f;
}

.calender p {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.calender p:nth-child(1) {
  border-bottom: 1px solid rgb(168, 167, 167);
  color: #434444;
}
.calender p:nth-child(2) {
  color: #de047f;
}

.firstDateContainer {
  text-align: right;
}
.secondDateContainer {
  text-align: left;
  display: flex;
  flex-direction: column-reverse;
}

.firstDateText a {
  color: #de047f;
  text-decoration: none;
}

.cardContainer {
  height: 100vh;
  display: flex;
  padding: 40px;
}

.card {
  background-color: #ffffff;
  height: fit-content;
  width: auto;
  margin: 70px 15px;
  text-align: left;
}

.card img {
  width: 100%;
  padding: 0;
}

.card h3 {
  padding: 15px 10px 10px 20px;
  font-weight: 300;
  color: #666868;
  font-size: 25px;
}

.card p {
  padding: 5px 5px 15px 20px;
  color: #666868;
}

.readMoreCard {
  padding-bottom: 20px;
}
.card a {
  text-decoration: none;
  padding: 0 0 20px 20px;
  color: #de047f;
}

.card a:hover {
  color: #434444;
}

@media screen and (max-width: 980px) {
  .couples {
    display: block;
    padding: 40px 0;
  }
  .aboutText h2 {
    top: 0;
    left: 40%;
    font-size: 45px;
  }

  .storyText h2 {
    left: 30%;
  }

  .couples p {
    padding: 0 30px;
  }

  .carouselInner div {
    padding-top: 10px;
  }

  .carousel p {
    font-size: 16px;
  }

  .storyPicture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .secondDateContainer {
    flex-direction: column;
  }

  .firstDateContainer {
    text-align: left;
  }
  .cardContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }

  .card {
    width: 300px;
    margin: 10px;
  }
}

@media screen and (max-width: 689px) {
  .aboutText h2 {
    left: 30%;
    font-size: 35px;
  }

  .storyText h2 {
    left: 20%;
    font-size: 30px;
  }
}
